<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ロール授権のマッピング実装データ操作ファイル -->
<mapper namespace="jp.co.atguigu.authsystem.mapper.RoleMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.atguigu.model.entity.Role">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="ROLE_NAME" jdbcType="NVARCHAR"
			property="roleName" />
		<result column="ROLE_CODE" jdbcType="NVARCHAR"
			property="roleCode" />
		<result column="DESCRIPTION" jdbcType="NVARCHAR"
			property="description" />
		<result column="CREATION_TIME" jdbcType="DATE"
			property="creationTime" />
		<result column="UPDATING_TIME" jdbcType="DATE"
			property="updatingTime" />
		<result column="LOGIC_DELETE_FLG" jdbcType="NVARCHAR"
			property="logicDeleteFlg" />
	</resultMap>
</mapper>