<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ロール授権のマッピング実装ファイル -->
<mapper namespace="jp.co.atguigu.authsystem.mapper.RoleMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.atguigu.model.entity.Role" autoMapping="true">
		<id column="ID" jdbcType="NUMERIC" property="id"/>
	</resultMap>
	<insert id="saveById"
		parameterType="jp.co.atguigu.model.entity.Role">
        INSERT
        INTO SSMG_ROLE(ID,
                       ROLE_NAME,
                       ROLE_CD,
                       DESCRIPTION,
                       CREATED_TIME,
                       UPDATED_TIME,
                       LOGIC_DELETE_FLG)
        VALUES (#{id,jdbcType=NUMERIC},
                #{roleName,jdbcType=NVARCHAR},
                #{roleCode,jdbcType=NVARCHAR},
                #{description,jdbcType=NVARCHAR},
                #{creationTime,jdbcType=DATE},
                #{updatingTime,jdbcType=DATE},
                #{logicDeleteFlg,jdbcType=NVARCHAR})
    </insert>
	<update id="removeById" parameterType="java.lang.Long">
		UPDATE SSMG_ROLE
		SET LOGIC_DELETE_FLG = 'removed'
		WHERE ID = #{id,jdbcType=NUMERIC}
	</update>
	<select id="findAll" resultMap="BasicResultMap">
        SELECT SMR.ID,
               SMR.ROLE_NAME,
               SMR.ROLE_CD,
               SMR.DESCRIPTION,
               SMR.CREATED_TIME,
               SMR.UPDATED_TIME
        FROM SSMG_ROLE SMR
        WHERE SMR.LOGIC_DELETE_FLG = 'visible'
    </select>
	<select id="findRolePagesCnt" resultMap="java.lang.Long">
        SELECT COUNT(1) AS RECORD
        FROM SSMG_ROLE SMR
        WHERE SMR.LOGIC_DELETE_FLG = 'visible'
        <if test="vo.roleName != null &amp; vo.roleName != ''">
            AND SMR.ROLE_NAME LIKE CONCAT('%', CONCAT(#{vo.roleName}, '%'))
        </if>
    </select>
	<select id="findRolePages" resultMap="BasicResultMap">
        SELECT
        SMR.ID,
        SMR.ROLE_NAME,
        SMR.ROLE_CD,
        SMR.DESCRIPTION,
        SMR.CREATED_TIME,
        SMR.UPDATED_TIME
        FROM
        SSMG_ROLE SMR
        WHERE
        SMR.LOGIC_DELETE_FLG = 'visible'
        <if test="vo.roleName != null &amp; vo.roleName != ''">
            AND SMR.ROLE_NAME LIKE CONCAT('%', CONCAT(#{vo.roleName}, '%'))
        </if>
        OFFSET #{offset,jdbcType=BIGINT} FETCH NEXT #{pageSize,jdbcType=BIGINT} ROWS ONLY
    </select>
</mapper>